$medium-blue-green: rgb(112, 175, 166);
$dark-green: rgb(65, 133, 125);
$dark-gray: rgb(82, 99, 97);
$white: rgb(255, 255, 255);

$logo-color: rgb(181, 220, 216);
$text-color: darken($dark-gray, 10);
