---
# Main style files. Everything else is located in _sass.
---

@import 'tomorrow';
@import 'typography';
@import 'colors';
@import 'buttons';
@import 'mailchimp';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  color: $text-color;
  margin: 2em auto;
  max-width: 600px;
}

header {
  text-align: center;
  a {
    border-bottom: none;
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
}

a {
  color: $dark-green;
  text-decoration: none;
  border-bottom: 3px solid lighten($logo-color, 10);
  &:hover {
    color: $logo-color;
  }
  &:active {
   color: darken($logo-color, 10);
  }
}

.logo {
  max-width: 300px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}

.footer-links {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    &:not(:last-child):after {
      margin: 0.5em;
      content: ' - ';
    }
  }
}
